{{ block title }}
    Payments
{{ endblock }}

{{ block styles }}
    <style>
        #show_up {
            font-weight: 400;
        }
        .accordion-button.collapsed#show_up::after {
            background-image: none;
        }
    </style>
{{ endblock }}

{{ block content }}
    <p>
        You have now completed the experiment. Below you will find a breakdown of your earnings and instructions on the payment procedure.
    </p>

    <div class="accordion mb-3" id="accordionFlushExample">
        <div class="accordion-item">
            <div class="accordion-header">
                <div class="accordion-button collapsed" id="show_up">
                   <div class="col-3">
                       Payment for participation: 
                   </div>
                   <div class="col-8">
                       {{ show_up_eur }} ({{ show_up_points }})
                   </div>
               </div>
            </div>
        </div>

        {{ if treatment == 'stroop' }}
            <div class="accordion-item">
                <div class="accordion-header">
                    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="col-3">
                            Payment for Part 1:
                        </div>
                        <div class="col-8">
                            {{ part1_eur }} ({{ part1_points }})
                        </div>
                    </div>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" >
                    <div class="accordion-body">
                        <p>
                            Task 1.1:<br>
                            You receive {{ part1_task1_eur }} ({{ part1_task1_points }}).
                        </p>
                        <p>
                            Task 1.2:<br>
                            You answered {{ crt_num_correct }} out of 3 questions correctly.<br>
                            You receive {{ part1_task2_eur }} ({{ part1_task2_points }}).
                        </p>
                        <p>
                            Task 1.3:<br>
                            Row {{ hl_row }} was selected at random. In this row, you chose lottery {{ hl_lottery_choice }}. {{ if hl_lottery_choice == 'A' }}The random draw yielded a lottery outcome of {{ hl_outcome }}.{{ else }}You receive the fixed amount.{{ endif }}<br>
                            Your pay for this task is {{ part1_task3_eur }} ({{ part1_task3_points }} ).
                        </p>
                    </div>
                </div>
            </div>
        {{ endif }}
        
        <div class="accordion-item">
            <div class="accordion-header">
                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <div class="col-3">
                        Payment from Asset Market Experiment: 
                    </div>
                    <div class="col-8">
                        {{ part2_eur }} ({{ part2_points }})
                    </div>
                </div>
            </div>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" >
                <div class="accordion-body">
                    <p>
                        You earned {{ part2_eur }} ({{ part2_points }}).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p>
        <b>Your total payment is: {{ total_eur }}</b><br>
        It was rounded up to next 20 cent step.
    </p>
    <p>
        Your earnings will be converted into lottery tickets.<br>
        The higher your earnings, the more tickets you receive, increasing your chances of winning the lottery prize.
    </p>

    <div style="text-align: center;">{{ next_button }}</div>
{{ endblock }}


{{ block scripts }}
<script>
    let next_button = document.querySelector('.otree-btn-next');
    next_button.innerHTML = 'Leave Experiment';
</script>

{{ endblock scripts }}
