{{ block title }}
    Teil 4 - Auszahlung
{{ endblock }}

{{ block styles }}
    <style>
        #show_up {
            font-weight: 400;
        }
        .accordion-button.collapsed#show_up::after {
            background-image: none;
        }
    </style>
{{ endblock }}

{{ block content }}
    <p>
        Sie haben das Experiment nun abgeschlossen. Im Folgenden finden Sie eine Aufschlüsselung Ihrer Einnahmen und Anweisungen zum Auszahlungsverfahren.
    </p>

    <div class="accordion mb-3" id="accordionFlushExample">
        <div class="accordion-item">
            <div class="accordion-header">
                <div class="accordion-button collapsed" id="show_up">
                   <div class="col-3">
                       Auszahlung für die Teilnahme: 
                   </div>
                   <div class="col-8">
                       {{ show_up_eur }} ({{ show_up_points }})
                   </div>
               </div>
            </div>
        </div>

        {{ if treatment == 'stroop' }}
            <div class="accordion-item">
                <div class="accordion-header">
                    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="col-3">
                            Auszahlung für Teil 1:
                        </div>
                        <div class="col-8">
                            {{ part1_eur }} ({{ part1_points }})
                        </div>
                    </div>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" >
                    <div class="accordion-body">
                        <p>
                            Aufgabe 1.1:<br>
                            Sie erhalten {{ part1_task1_eur }} ({{ part1_task1_points }}).
                        </p>
                        <p>
                            Aufgabe 1.2:<br>
                            Sie haben {{ crt_num_correct }} von 3 Fragen richtig beantwortet.<br>
                            Sie erhalten {{ part1_task2_eur }} ({{ part1_task2_points }} ).
                        </p>
                        <p>
                            Aufgabe 1.3:<br>
                            Zeile {{ hl_row }} wurde zufällig ausgewählt. In dieser Zeile haben Sie die {{ hl_lottery_choice }} gewählt. {{ if hl_lottery_choice == 'A' }}Der Zufallszug ergab ein Lotterieergebnis von {{ hl_outcome }}.{{ else }}Sie erhalten den festen Betrag.{{ endif }}<br>
                            Sie erhalten {{ part1_task3_eur }} ({{ part1_task3_points }} ).
                        </p>
                    </div>
                </div>
            </div>
        {{ endif }}
        
        <div class="accordion-item">
            <div class="accordion-header">
                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <div class="col-3">
                        Auszahlung für Teil 2: 
                    </div>
                    <div class="col-8">
                        {{ part2_eur }} ({{ part2_points }})
                    </div>
                </div>
            </div>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" >
                <div class="accordion-body">
                    <p>
                        Wiederholung {{ market_repetition }} wurde zufällig ausgewählt.<br>
                        In diesem Markt haben Sie {{ part2_eur }} ({{ part2_points }}) verdient.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p>
        <b>Ihre Gesamtauszahlung beträgt: {{ total_eur }}</b><br>
        Sie wurde auf den nächsten 20-Cent-Schritt aufgerundet.</b>
    </p>

    <div style="text-align: center;">{{ next_button }}</div>
{{ endblock }}

{{ block scripts }}
<script>
    let next_button = document.querySelector('.otree-btn-next');
    next_button.innerHTML = 'Experiment abschließen';
</script>

{{ endblock scripts }}
