{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'egt/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function(){
            let otree_timer = document.querySelector(".otree-timer > p");
            otree_timer.firstChild.replaceWith("Time left to complete this part:");
        });
    </script>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Task
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper">
         <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Picture {{ page }} of {{ total }}
        </label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{ progress|json }}%;">
                <span class="sr-only"></span>
            </div>
        </div>
        <div class="progress-vspace"></div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Items -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <div class="panel panel-default info">
            <img src="{% static img %}" class="img-rounded"/>

            <br/>
            <div class="choices">
                {% for choice in set %}
                    <button name="choice"
                            class="choice"
                            value="{{ choice }}">
                        {{ choice }}
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
