{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'egt/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#  ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Teil 3 - Aufgabe 3.3 - Übungsbild
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper">
        <img src="{% static 'egt/practice/0.png' %}" class="img-rounded"/>

        <br/>
        <div class="choices">

            <!-- --------------------------------------------------------------------------------------------------- -->
            <!-- JEALOUS -->
            <!-- --------------------------------------------------------------------------------------------------- -->
            <button type="button" class="choice" data-bs-toggle="modal" data-bs-target="{{ if practice_1 == practice_correct }}#CorrectAnswer{{ else }}#IncorrectAnswer{{ endif }}">
                {{ practice_1 }}
            </button>
            

            <!-- --------------------------------------------------------------------------------------------------- -->
            <!-- PANICKED -->
            <!-- --------------------------------------------------------------------------------------------------- -->
            <button type="button" class="choice" data-bs-toggle="modal" data-bs-target="{{ if practice_2 == practice_correct }}#CorrectAnswer{{ else }}#IncorrectAnswer{{ endif }}">
                {{ practice_2 }}
            </button>
            

            <!-- --------------------------------------------------------------------------------------------------- -->
            <!-- ARROGANT -->
            <!-- --------------------------------------------------------------------------------------------------- -->
            <button type="button" class="choice" data-bs-toggle="modal" data-bs-target="{{ if practice_3 == practice_correct }}#CorrectAnswer{{ else }}#IncorrectAnswer{{ endif }}">
                {{ practice_3 }}
            </button>
            

            <!-- --------------------------------------------------------------------------------------------------- -->
            <!-- HATEFUL -->
            <!-- --------------------------------------------------------------------------------------------------- -->
            <button type="button" class="choice" data-bs-toggle="modal" data-bs-target="{{ if practice_4 == practice_correct }}#CorrectAnswer{{ else }}#IncorrectAnswer{{ endif }}">
                {{ practice_4 }}
            </button>
            

        </div>
    </div>


    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <!-- MODAL: Correct Answer -->
    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <div class="modal fade" role="dialog" id="CorrectAnswer">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Ihre Antwort war richtig.</h4>
                </div>
                <div class="modal-body">
                    Sie haben richtig geantwortet.<br/>
                    Sie werden von nun an keine weiteren Rückmeldungen mehr erhalten.
                </div>
                <div class="modal-footer">
                    {% next_button %}
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <!-- MODAL: Correct Answer -->
    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <div class="modal fade" role="dialog" id="IncorrectAnswer">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Ihre Antwort war nicht richtig.</h4>
                </div>
                <div class="modal-body">
                    Die richtige Antwort ist '{{ practice_correct }}'. <br/>
                    Sie werden von nun an keine weiteren Rückmeldungen mehr erhalten.
                </div>
                <div class="modal-footer">
                    {% next_button %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
