{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'apm/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Teil 3 - Aufgabe 3.2 - Anleitung
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
            Im Folgenden werden Ihnen 18 Testaufgaben gezeigt. Jede Aufgabe besteht aus einem Muster von diagrammatischen Rätseln mit einem fehlenden Teil. Sie sollen den fehlenden Teil aus einer Reihe möglicher Antworten auswählen. Die Muster in jeder Aufgabe werden in Form einer 3x3-Matrix mit dem fehlenden Teil in der unteren rechten Ecke präsentiert. Ein Beispiel einer solchen Matrix ist unten dargestellt.
        </p>
        <p>
            Sie haben insgesamt 10 Minuten für diese Aufgabe.
        </p>
        <div style="text-align: center">
            <img src="{% static 'apm/img/matrices/2.png' %}" class="matrix">
        </div>
    </div>

    {% next_button %}
{% endblock %}
