/* scrollable table bodies */
table {
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td { display: block; }

thead tr, tbody tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.history tbody {
    height: 120px;
}
.order-book tbody {
    height: 200px;
}

tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    float: left;
}

/* for tables with two cols */
.c2 {
    tbody td, thead th {
        width: 48%;
    }
}
/* for tables with three cols, small col for trash bin */
.c3 {
    tbody td:nth-child(1), tbody td:nth-child(2),
    thead th:nth-child(1), thead th:nth-child(2) {
        width: 43%;
    }
    tbody td:last-child, thead th:last-child {
        width: 10%;
    }
}

.order-book tbody tr:first-child > td {
    /*background-color: rgb(221, 232, 223);*/
    font-weight: bold;
    background-color: #f0faf0;
}